In [2]:
#use os.path.join(), indirectly load file
#use Pandas.read_csv to read (without open files) into DataFrame

In [3]:
import os
import pandas as pd

school_data_to_load = os.path.join('Resources','schools_complete.csv')
student_data_to_load = os.path.join('Resources', 'students_complete.csv')

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
print(student_data_df)
print(student_data_df.head())
print(student_data_df.tail(10))

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]
   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84
       Student ID     student_name gender grade         school_name  \
39160       39160     Katie Weaver      F  11th  Thomas High School
39161       39161      April Reyes      F  10th  Thomas High School
39162       39162      Derek Weeks      M  12th  Thomas High School
39163       39163       John Reese      M  11th  Thomas High School
39164       39164   Joseph Anthony      M   9th  Thomas High School
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
39160             89          86
39161             70          84
39162             94          77
39163             90          75
39164             97          76
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

In [5]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [7]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [9]:
#use _df.dropna() & _df.fillna(0) to deal with missing data

In [10]:
#check data types, !! Attribute
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [12]:
student_data_df.grade.dtype
student_data_df['reading_score'].dtype

dtype('int64')

In [13]:
# clean incorrect student names
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')
print(student_data_df.head(10))

   Student ID     student_name gender grade        school_name  reading_score  \
0           0     Paul Bradley      M   9th  Huang High School             66
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90
3           3    Richard Scott      M  12th  Huang High School             67
4           4       Bonnie Ray      F   9th  Huang High School             97
5           5    Bryan Miranda      M   9th  Huang High School             94
6           6    Sheena Carter      F  11th  Huang High School             82
7           7     Nicole Baker      F  12th  Huang High School             96
8           8     Michael Roth      M  10th  Huang High School             95
9           9   Matthew Greene      M  10th  Huang High School             96

   math_score
0          79
1          61
2          60
3          58
4          84
5          94
6          80
7          69
8          87
9          84